<h1>Update your Information</h1>
<form method="POST" action="/users">
  <div>
    <label for="name">Full Name</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="address">Address</label>
    <input type="text" name="address">
  </div>
  <div>
    <label for="age">Age</label>
    <input type="text" name="address">
  </div>
  <div>
    <label for="phoneNumber">Phone Number</label>
    <input type="number" name="phoneNumber">
  </div>
  
  <button type="confirm">Confirm</button>
</form>

