<h2>Account Deactivation</h2>
<p>We are sorry to see you go! If you want to reactivate your account at any time, please click the link</p>
<br/>

<p>
  We look forward to serving you again.
</p>
</br/>

<a href="/">Create Account</a>
