<h1>Create a New Company</h1>
<form method="POST" action="/users">
  <div>
    <label for="name">Name of Company</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="location">Location</label>
    <input type="text" name="location">
  </div>
  
  <button type="submit">Add Company</button>
</form>