#input {
  font-size: 20px
}

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  background: url(https://i.imgur.com/MtLzPhh.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: whitesmoke;

}

form {
  font-size: 20px;
}

h1 {
  font-size: 130px;
  opacity: 0.5;
  color: black;

}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center
}

a {
  color: black;
}
p {
  color: black;
  font-size: 30px;
}

h2 {
  opacity: 0.9;
  font-size: 40px;
  color: whitesmoke;
  text-shadow: 30px;
}
h3 {
  opacity: 0.9;
  font-size: 30px;
  color: whitesmoke;
  text-shadow: 30px;
}

input.rounded {
  border: 1px solid rgb(184, 204, 208);
  border-radius: 10px;
  padding: 4px 7px;
  outline: 0;
}
div {
  align-content: space-between
}
