.input {
  font-size: 20px
}

nav {
  background: black;
}

form {
  font-size: 20px;
}

h1 {
  font-size: 80px;
  font-family: 'IM Fell English SC', serif;
}

h6 {
  font-family: 'IM Fell English SC', serif;
}

p, h3, h2, div, button {
  font-family: 'Overlock SC', cursive;
}

.mainImage {
  width: 600px;
  height: 80%;
}

.dd-store {
  font-family: 'IM Fell English SC', serif;
}

img {
  width: 100%;
  height: auto;
}

body {
  text-align: center
}

a {
  color: black;
  text-decoration: none;
}

input.rounded {
  border: 1px solid rgb(184, 204, 208);
  border-radius: 10px;
  padding: 4px 7px;
  outline: 0;
}

div {
  align-content: space-between
}

/* button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #121412;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
} */

button:hover {
  background-color: #121412;
  color: whitesmoke;
}

a:hover {
  color: whitesmoke;
}

button:active {
  background-color: #121412;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
