{{!-- <form method="POST" action="/cart">
  <div>
    <h1>DD Store</h1>

<h3>Beer List</h3>
<ol>
    <li>Bud Light<button><a href="/cart"> Add</a></button></li>
    <li>Miller Light<button><a href="/cart"> Add</a></button></li>
</ol>
<h3>Wine List</h3>
    <ol>
        <li>Cabernet<button><a href="/cart"> Add</a></button></li>
        <li>Chardonnay<button><a href="/cart"> Add</a></button></li>
        <li>Pinot Grigo<button><a href="/cart"> Add</a></button></li>
        <li>Pinot Nior<button><a href="/cart"> Add</a></button></li>
        <li>Sauvignon Blanc<button><a href="/cart"> Add</a></button></li>
    </ol>
<h3>Liquor List</h3>
    <ol>
        <li>Vodka<button><a href="/cart"> Add</a></button></li>
        <li>Bourbon<button><a href="/cart"> Add</a></button></li>
        <li>Rum<button><a href="/cart"> Add</a></button></li>
        <li>Tequila<button><a href="/cart"> Add</a></button></li>
        <li>Scotch<button><a href="/cart"> Add</a></button></li>
    </ol>
  </div> --}}