

<form method="POST" action="/cart">
  <div>
    <h1>DD Store</h1>

<h3>Beer List</h3>
<ol>
    <li>Bud Light<button type="confirm">Add</button></li>
    <li>Miller Light<button type="confirm"> Add</button></li>
</ol>
<h3>Wine List</h3>
    <ol>
        <li>Cabernet<button type="confirm"> Add</button></li>
        <li>Chardonnay<button type="confirm"> Add</button></li>
        <li>Pinot Grigo<button type="confirm"> Add</button></li>
        <li>Pinot Nior<button type="confirm">Add</button></li>
        <li>Sauvignon Blanc<button type="confirm">Add</button></li>
    </ol>
<h3>Liquor List</h3>
    <ol>
        <li>Vodka<button type="confirm"> Add</button></li>
        <li>Bourbon<button type="confirm">Add</button></li>
        <li>Rum<button type="confirm">Add</button></li>
        <li>Tequila<button type="confirm">Add</button></li>
        <li>Scotch<button type="confirm">Add</button></li>
    </ol>
  </div>


