<h2 class='dd-store'>DD Store</h2>
<img src="https://images.unsplash.com/photo-1503876466-1fc5143eda57?ixlib=rb-0.3.5&s=ce4b477aed745b5232fc4c0fbd40e0d2&auto=format&fit=crop&w=1600&h=700" alt="today was a good day" class='responsive'>
<ul class="collapsible">
  <li>
    <div class="collapsible-header"><i class="em em-beers"></i>Beer</div>
    <div class="collapsible-body"><span>Monday Night Brewing, Atlanta<br/>
        Three Taverns Brewing, Atlanta <br/>
        Red Brick Brewing Co, Atlanta<br/>
        Red Hare Brewing Co, Atlanta
      </br/>
      </br/>
      </br/></span></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="em em-wine_glass"></i>Wine</div>
    <div class="collapsible-body"><span>Habersham Vinters <br/>Vineyard In Atlanta<br/>City Winery
</br/>
</br/></span></div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="em em-champagne"></i>Liquor</div>
    <div class="collapsible-body"><span>ASW Distillery, Atlanta<br/>
        Old Fourth Distillery, Atlanta<br/>Moonrise Distillery, Clayton
      </br/>Richland Distilling Company, Richland</span>
    </div>
  </li>
</ul>
