
  <div>
    <h1>DD Store</h1>

<h3>Beer List</h3>
  <form action="/cart">
  <div>
  <label for="beer">Miller Light</label>
  <input type="radio" name="beer" id="Miller Light" value="beer"><br>
  <label for="beer">Bud Light</label>
  <input type="radio" name="beer" id="Bud Light" value="beer"><br>
  </div>
   <form action="/cart">
  <div>
    <h3>Wine List</h3>
  <label for="wine">Cabernet</label>
  <input type="radio" name="wine" id="Cabernet" value="wine"><br>
  <label for="wine">Chardonnay</label>
  <input type="radio" name="wine" id="Chardonnay" value="wine"><br>
  </div>
   <div>
    <h3>Liquor List</h3>
  <label for="liquor">Vodka</label>
  <input type="radio" name="wine" id="Vodka" value="liquor"><br>
  <label for="liquor">Rum</label>
  <input type="radio" name="liquor" id="Rum" value="liquor"><br>
  </div>
  <input type="submit" value="Add to Cart">
</form>


