<h1>What are you  thirsty for?</h1>


<form method="POST" action="/products">
  <div>
    
  </div>
  <button type="submit">Beer</button>
</form>

<form method="POST" action="/products/">
  <div>
    
  </div>
  <button type="submit">Wine</button>
</form>


<form method="POST" action="/products">
  <div>
    
  </div>
  <button type="submit">Liquor
  </button>
</form>