{{!-- //will be added when I am ready to link pages --}}
<h2>What are you thirsty for?</h2>


<form method="POST" action="/products">
    <div>Beer<br/>

    </br/>
        <button type="submit"><i class="em em-beers"></i></button>
    </div>

</form>

<form method="POST" action="/products">
    <div>Wine<br/>

    </br/>
        <button type='submit'><i class="em em-wine_glass"></i></button>
    </div>
</form>


<form method="POST" action="/products">
    <div>Liquor <br/>

    </br/>
        <button type="submit"><i class="em em-champagne"></i>
        </button>
    </div>

</form>

<br/>
<br />
<br />
<br />
<br />
<br />
<br />
<p>We strive to uphold the civil rights act of 1964 that prohibits us from refusing service to patrons on the basis of race, color, religion, or national origin.. <br/>
  We will however, refuse service if the customer does not providing a valid drivers license.
</br/>A valid drivers license must be shown upon arrival, showing you are the legal age to purchase alcohol.</p>


<br />
<br />
</br/>
