{{!-- //will be added when I am ready to link pages --}}
<h1>What are you  thirsty for?</h1>


<form method="POST" action="/products">
  <div>
    <button type="submit">Beer</button>
  </div>
  
</form>

<form method="POST" action="/products">
  <div>
    <button type='submit'>Wine</button>
  </div>
</form>


<form method="POST" action="/products">
  <div>
      <button type="submit">Liquor
  </button>
  </div>

</form>